 <!--==========================
    Intro Section
  ============================-->
  <section id="home">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="app/img/logo.png" alt="logo CenterSeg" style="width:100%"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Segurança Inteligente</h2>
                <p>
                  <i>
                    Responsabilidade, Compromisso e Eficiência é a nossa marca!
                  </i>
                </p>
               
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="app/img/intro-carousel/stab1.png" alt="Instalação de Câmera de Segurança"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>segurança Inteligente</h2>
                <p>
                  <i>
                    
                  </i>
                </p>
               
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="app/img/intro-carousel/produtos.jpg" alt="Produtos Vendidos na loja"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Produtos</h2>
                <p>
                  <i>
                    Trabalhamos com produtos líderes de mercado, oferecendo para você cliente um serviço com mais qualidade e durabilidade.
                  </i>
                </p>

              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="app/img/intro-carousel/4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Segurança Monitorada</h2>
                
                <p>
                  <i>
                    Vigilância 24 horas por dia, 7 dias na semana, garantindo máxima proteção ao seu patrimônio.
                  </i>
                </p>
               
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="app/img/intro-carousel/5.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Equipe Qualificada</h2>
                <p>
                  <i>
                    Contamos com uma equipe qualificada em segurança inteligente, disponibilizando para você um serviço com qualidade, responsabilidade e confiança.
                  </i>
                </p>
               
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">









    
<!--==========================
Team Section
============================-->
<section id="team">
<div class="container">
  <div class="section-header wow fadeInUp">
    <h3>Area de Divulgação</h3>
    <p>Areade divlgação da loja</p>
  </div>

  <div class="row">

    <div class="col-lg-3 col-md-6 wow fadeInUp">
      <div class="member">
        <img src="app/img/team-1.png" class="img-fluid" alt="">
        <div class="member-info">
          <div class="member-info-content">
            <h4>Produto</h4>
            <span>Descrição do Produto</span>
            <div class="social">
              <a href=""><i class="fa fa-whatsapp"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
      <div class="member">
        <img src="app/img/team-2.png" class="img-fluid" alt="">
        <div class="member-info">
          <div class="member-info-content">
            <h4>Produto</h4>
            <span>Descrição do Produto</span>
            <div class="social">
              <a href=""><i class="fa fa-whatsapp"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
      <div class="member">
        <img src="app/img/team-3.png" class="img-fluid" alt="">
        <div class="member-info">
          <div class="member-info-content">
            <h4>Produto</h4>
            <span>Descrição do Produto</span>
            <div class="social">
              <a href=""><i class="fa fa-whatsapp"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
      <div class="member">
        <img src="app/img/team-4.jpg" class="img-fluid" alt="">
        <div class="member-info">
          <div class="member-info-content">
            <h4>Produto</h4>
            <span>Descrição do Produto</span>
            <div class="social">
              <a href=""><i class="fa fa-whatsapp"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</section><!-- #team -->





