


<!--==========================
Portfolio Section
============================-->

<div class="produtos">
<section id="produto"  class="section-bg" >
<div class="container">

<header class="section-header">
  <h3 class="section-title">Produtos</h3>
</header>

<div class="row">
  <div class="col-lg-12">
    <ul id="portfolio-flters">
      <li data-filter="*" class="filter-active">Todos</li>
      <li data-filter=".filter-app">Câmera</li>
      <li data-filter=".filter-card">Alarme</li>
      <li data-filter=".filter-web">Cerca</li>
    </ul>
  </div>
</div>

<div class="row portfolio-container">

  <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/team-1.png" class="img-fluid" alt="">
        <a href="app/img/team-1.png" data-lightbox="portfolio" data-title="Câmera" class="link-preview" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="camera" class="link-details" title="Mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4 class="titleH4"><a href="camera">Câmera</a></h4>
        <p>Câmera</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.1s">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/team-1.png" class="img-fluid" alt="">
        <a href="app/img/team-1.png" class="link-preview" data-lightbox="portfolio" data-title="Câmera" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="camera" class="link-details" title="mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4><a href="camera">Câmera</a></h4>
        <p>Câmera</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/team-1.png" class="img-fluid" alt="">
        <a href="app/img/team-1.png" class="link-preview" data-lightbox="portfolio" data-title="Câmera" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="../link/camera" class="link-details" title="Mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4><a href="camera">Câmera</a></h4>
        <p>Câmera</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/alarme.png" class="img-fluid" alt="">
        <a href="app/img/alarme.png" class="link-preview" data-lightbox="portfolio" data-title="Alarme" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="#" class="link-details" title="Mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4><a href="#">Alarmes</a></h4>
        <p>Alarmes</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/alarme.png" class="img-fluid" alt="">
        <a href="app/img/alarme.png" class="link-preview" data-lightbox="portfolio" data-title="Alarme" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="#" class="link-details" title="Mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4><a href="alarme">Alarmes</a></h4>
        <p>Alarmes</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.2s">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/alarme.png" class="img-fluid" alt="">
        <a href="app/img/alarme.png" class="link-preview" data-lightbox="portfolio" data-title="Alarme" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="#" class="link-details" title="Mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4><a href="#">Alarme</a></h4>
        <p>Alarme</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/concertina.jpg" class="img-fluid" alt="">
        <a href="app/img/concertina.jpg" class="link-preview" data-lightbox="portfolio" data-title="Cerca" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="#" class="link-details" title="Mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4><a href="#">Cerca</a></h4>
        <p>Cerca</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/concertina.jpg" class="img-fluid" alt="">
        <a href="app/img/concertina.jpg" class="link-preview" data-lightbox="portfolio" data-title="Cerca" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="#" class="link-details" title="Mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4><a href="#">Cerca</a></h4>
        <p>Cerca</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
    <div class="portfolio-wrap">
      <figure>
        <img src="app/img/concertina.jpg" class="img-fluid" alt="">
        <a href="app/img/concertina.jpg" class="link-preview" data-lightbox="portfolio" data-title="Cerca" title="Previa"><i class="ion ion-eye"></i></a>
        <a href="#" class="link-details" title="Mais Detalhes"><i class="ion ion-android-open"></i></a>
      </figure>

      <div class="portfolio-info">
        <h4><a href="#">Cerca</a></h4>
        <p>Cerca</p>
      </div>
    </div>
  </div>

</div>

</div>
</section><!-- #portfolio -->
</div>
