<!--==========================
About Us Section
============================-->
<div class="quemSomos">
<section id="quemSomos">
<div class="container">

  <header class="section-header">
    <h3>Quem Somos ?</h3>
    <p class="description">
      Seja bem vindos a <span class="center"><b>Center</b></span><span class="seg"><b>Seg</b></span>
      Atuamos há mais 7 anos no mercado de segurança, oferecendo os serviços de Segurança Patrimonial, Segurança Eletrônica, para empresas pública e privada, condomínios, shoppings, indústrias, entre outros.

Nossa missão é oferecer serviços de qualidade realizados por profissionais comprometidos com o bem estar no ambiente de trabalho e com o cliente, treinados para enfrentarem adversidades trazendo soluções eficazes que fazem a diferença no dia a dia. Para manter o engajamento dos nossos colaboradores.
<br><br>
Mais do que segurança, nos preocupamos com o bem estar dos nossos colaboradores e clientes, pois nosso trabalho é levar tranquilidade à vida das pessoas.<br><br>

A empresa está totalmente regulamentada segundo a Lei Estadual N°15.985 junto a Secretaria da Segurança Pública. E constantemente vem aumentando a especialização em seus serviços oferecidos.

    </p>
  </header>

  <header class="section-header">
    <h3>Onde Atuamos ?</h3>
    <p class="description">

  O serviço de segurança eletrônica para pequenos comércios ou empresas e pessoas físicas está disponível para Pires do Rio/GO e região. Para médias e grandes empresas a <span class="center"><b>Center</b></span><span class="seg"><b>Seg</b></span> atende em todo o Brasil.

</p>
</header>

</div>
</section>

</div>