

        
<!--==========================
Services Section
============================-->
<div class="servicos">
<section id="servicos">
<div class="container">

<header class="section-header wow fadeInUp">
  <h3>Serviços</h3>
  <p>Conheça um pouco mais dos serviços disponibilizado pela <span class="center"><b>Center</b></span><span class="seg"><b>Seg</b></span></p>
</header>

<div class="row">

  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
    <div class="icon"><i class="ion-ios-videocam"></i></div>
    <h4 class="title"><a href="">Monitoramento Eletrônico</a></h4>
    <p class="description">
      Segurança é uma das necessidades básicas do ser humano. O serviço de Monitoramento Eletrônico visa a proteção de casas, escritórios.
    <br><br>
    <a href="" class="detalhes">Mais Detalhes</a>
    <br><br>
    </p>
    
  </div>
  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
    <div class="icon"><i class="ion-arrow-graph-up-right"></i></div>
    <h4 class="title"><a href="">Cerca Elétrica</a></h4>
    <p class="description">
      Segurança é uma das necessidades básicas do ser humano. O serviço de Monitoramento Eletrônico visa a proteção de casas, escritórios.
    <br><br>
    <a href="" class="detalhes">Mais Detalhes</a>
    <br><br>
    </p>

  </div>
  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
    <div class="icon"><i class="ion-aperture"></i></div>
    <h4 class="title"><a href="">Concertina</a></h4>
    <p class="description">
      Segurança é uma das necessidades básicas do ser humano. O serviço de Monitoramento Eletrônico visa a proteção de casas, escritórios.
    <br><br>
    <a href="" class="detalhes">Mais Detalhes</a>
    <br><br>

    </p>

  </div>
  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
    <div class="icon"><i class="ion-speakerphone"></i></div>
    <h4 class="title"><a href="">Alarmes</a></h4>
    <p class="description">
      Central de alarme convencional, discadora GSM e teclado de programação integrado.
    <br><br>
    <a href="app/views/alarme.html" class="detalhes">Mais Detalhes</a>
    <br><br>
    </p>

  </div>
  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
    <div class="icon"><i class="ion-ios-clock"></i></div>
    <h4 class="title"><a href="">Monitoramento 24 Hs</a></h4>
    <p class="description">
     O Monitoramento 24 horas é fundamental em um plano de segurança, seja em condomínios, empresas ou residências.
    <br><br>
    <a href="" class="detalhes">Mais Detalhes</a>
    <br><br>
    </p>

    </div>
  <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
    <div class="icon"><i class="ion-ios-people"></i></div>
    <h4 class="title"><a href="">Local serviço prestados</a></h4>
    <p class="description">
      Segurança é uma das necessidades básicas do ser humano. O serviço de Monitoramento Eletrônico visa a proteção de casas, escritórios.
      <br><br>
      <a href="" class="detalhes">Mais Detalhes</a>
      <br><br>
    </p>

  </div>
   
</div>

</div>

</section><!-- #services -->
</div>